.we__do--section .bg_element::after {
  content: "";
  background: url("../../../public/Fraud_monitoring2.png") no-repeat;
  top: calc(50% - 90px);
}

/* we do section  */


.we__do--swiper .swiper-pagination {
  position: absolute;
  top: calc(50% - 85px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  justify-content: center;
}

.we__do--swiper .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 100px;
  @apply dark:bg-primaryLight bg-primaryDark;
}
.we__do--swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 70px;
}

.we_do--slider .swiper-container {
  padding: 40px 0;
  margin-top: 40px;
}

.we_do--slider .swiper-slide {
  background-color: white;
  background-image: none;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  opacity: 0;
}


/* reporting section */

/* .gear {
  animation: spin 15s linear infinite;
} */

/* .gear-2 {
  animation: spin2 15s linear infinite;
} */

/* .gear-3 {
  animation: spin 15s linear infinite;
} */

/* @-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
} */

/* @-webkit-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
} */

/* .magnify {
  animation: zoomInOut 4s ease-in-out infinite;
}

@-webkit-keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@-moz-keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
} */

/* .phone {
  transform: rotate(3.859deg); 
   animation: moveRightLeft 5s linear infinite;
} */

/* @-webkit-keyframes moveRightLeft {
  0%,
  100% {
    right: 350px;
  }
  50% {
    right: 400px;
  }
}

@-moz-keyframes moveRightLeft {
  0%,
  100% {
    right: 350px;
  }
  50% {
    right: 400px;
  }
} */

/* @keyframes moveRightLeft {
  0%,
  100% {
    right: 350px;
  }
  50% {
    right: 400px;
  }
} */

/* .we_do--slider .swiper {
  height: 500px;
} */



