.we__do--section .bg_element::after {
  content: "";
  background: url("../../../public/Fraud_monitoring2.png") no-repeat;

  top: calc(50% - 90px);

  /* z-index: 1; */
  /* @apply hidden sm:block sm:w-[92px] invert dark:invert-0; */
}

/* we do section  */

.we__do--swiper.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  padding: 40px 0;
}

.we__do--swiper .swiper-wrapper {
  /* height: 380px;
  width: 489px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.we__do--swiper .swiper-slide {
  opacity: 0;
  /* height: 380px;
  width: 489px; */
  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.we__do--swiper .swiper-slide-prev,
.we__do--swiper .swiper-slide-active,
.we__do--swiper .swiper-slide-next {
  opacity: 1;
}

.we__do--swiper .swiper-slide-active {
  /* width: 450px; */
  /* height: 250px; */
  width: 489px;
  @apply dark:shadow-3xl shadow-light;
}

.we__do--swiper .swiper-slide-prev h4,
.we__do--swiper .swiper-slide-next h4,
.we__do--swiper .swiper-slide-next p,
.we__do--swiper .swiper-slide-prev p {
  display: none !important;
}

/* .we__do--swiper .swiper-slide-prev {
  height: 400px;
  z-index: 2;
  transform: translate3d(0px, -48px, -100px) scale(1) !important;
  transition-duration: 0ms;
}

.we__do--swiper .swiper-slide-next {
  transform: translate3d(0px, 48px, -100px) scale(1) !important;
}

.we__do--swiper {
  padding-left: 55px !important;
}

.we__do--swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 70px;
} */

.we__do--swiper .swiper-pagination {
  position: absolute;
  top: calc(50% - 85px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  justify-content: center;
}

.we__do--swiper .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 100px;
  @apply dark:bg-primaryLight bg-primaryDark;
}
.we__do--swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 70px;
}

@media only screen and (max-width: 1024px) {
  .we__do--swiper .swiper-slide-prev,
  .we__do--swiper .swiper-slide-next {
    opacity: 0;
  }

  .we__do--section .swiper-slide {
    width: 80% !important;
    padding: 0;
    margin-left: 40px;
  }
}

/* reporting section */

/* .gear {
  animation: spin 15s linear infinite;
} */

/* .gear-2 {
  animation: spin2 15s linear infinite;
} */

/* .gear-3 {
  animation: spin 15s linear infinite;
} */

/* @-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
} */

/* @-webkit-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
} */

/* .magnify {
  animation: zoomInOut 4s ease-in-out infinite;
}

@-webkit-keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@-moz-keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
} */

.phone {
  /* transform: rotate(3.859deg); */
  /* animation: moveRightLeft 5s linear infinite; */
}

/* @-webkit-keyframes moveRightLeft {
  0%,
  100% {
    right: 350px;
  }
  50% {
    right: 400px;
  }
}

@-moz-keyframes moveRightLeft {
  0%,
  100% {
    right: 350px;
  }
  50% {
    right: 400px;
  }
} */

/* @keyframes moveRightLeft {
  0%,
  100% {
    right: 350px;
  }
  50% {
    right: 400px;
  }
} */

/* .we_do--slider .swiper {
  height: 500px;
} */

.we_do--slider .swiper-container {
  /* height: 100%;
  padding-left: calc(50vw - 150px); */
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  /* overflow: hidden; */
  padding: 40px 0;
  margin-top: 40px;
}

.we_do--slider .swiper-slide {
  background-color: white;
  background-image: none;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 300px;
  /* width: 90%;
  max-width: 480px;
  height: auto;
  max-height: 380px; */
  opacity: 0;
  /*transition: 1s opacity;*/
}

.we_do--slider .swiper-slide-active,
.we_do--slider .swiper-slide-next,
.we_do--slider .swiper-slide-prev {
  opacity: 1;
  /* @apply dark:shadow-3xl shadow-light; */
}

.we_do--slider .swiper-slide-prev h4,
.we_do--slider .swiper-slide-next h4,
.we_do--slider .swiper-slide-next p,
.we_do--slider .swiper-slide-prev p,
.we_do--slider .swiper-slide-prev img,
.we_do--slider .swiper-slide-next img {
  display: none !important;
}

/* .we_do--slider .swiper-slide-next {
  transform: translate3d(0px, -320px, -100px) rotateX(0deg) rotateY(0deg) scale(1) !important;
} */
