.open__position-swiper.swiper {
  /* width: 100%; */
  /* height: 370px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  padding: 40px 0;
  margin-top: 40px;
}

.open__position-swiper .swiper-wrapper {
  height: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.open__position-swiper .swiper-slide {
  opacity: 0;

  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.open__position-swiper .swiper-slide-prev,
.open__position-swiper .swiper-slide-active,
.open__position-swiper .swiper-slide-next {
  opacity: 1;
}

.open__position-swiper .swiper-slide-active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 450px;
}

.open__position-swiper .swiper-slide-prev h4,
.open__position-swiper .swiper-slide-next h4,
.open__position-swiper .swiper-slide-next p,
.open__position-swiper .swiper-slide-prev p {
  display: none !important;
}

.open__position-swiper .swiper-pagination {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 1;
  justify-content: center;
}

.open__position-swiper .swiper-pagination .swiper-pagination-bullet {
  background: white;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 100px;
}

.open__position-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 70px;
}

 @media only screen and (max-width: 1024px) {
 .open__position-swiper.swiper {
    margin-top: 0;
  }
 /*
  .open__position-swiper .swiper-slide {
    width: 90%!important;

  }

  .open__position-swiper .swiper-wrapper{
    justify-content: center;
  }

  .open__position-swiper .swiper-slide-active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
  }*/

  .open__position-swiper .swiper-slide-prev,
.open__position-swiper .swiper-slide-next {
opacity: 0;
}
} 
