.button-bg {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-size: 600% 600%;
  animation: AnimateBorder 4s ease infinite;
  -webkit-animation: AnimateBorder 4s ease infinite;
  -moz-animation: AnimateBorder 4s ease infinite;
  transform: translate(-2px, -2px);
  transition: filter .7s ease-in;
}

.button-wrapper:hover .button-bg {
  background: linear-gradient(90deg, #ff00e5 0%, #4200ff 30.43%, #00fff0 68.23%, #ff00e5 100%);
  filter: blur(5px);
  transition: filter .4s ease-in;
}


@-webkit-keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

