@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 15px;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-track {
  background: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9befea 0%, #3d6ece 74.01%, rgba(53, 246, 234, 0.35) 100%);
}

/* gloabl,custom tailwind classes */

.nav-padding {
  @apply xl:px-[calc((100%-1360px)*0.5)];
}

.auto-padding {
  @apply xl:px-[calc((100%-1280px)*0.5)] px-3;
}

.title-h1 {
  @apply font-montserrat font-extrabold text-[32px] sm:text-[40px] md:text-[50px] xl:text-[64px] dark:text-primaryLight text-primaryDark leading-[79px] uppercase;
}

.title-h2 {
  @apply font-montserrat font-extrabold text-[32px] sm:text-[40px] md:text-[50px] xl:text-[64px] dark:text-primaryLight text-primaryDark uppercase leading-normal;
}

.title-h3 {
  @apply font-kodchasan font-bold text-[24px] md:text-[32px] xl:text-[48px] dark:text-primaryLight text-primaryDark uppercase leading-normal;
}

/* .title-h4 {
  @apply font-kodchasan font-bold  text-[36px] dark:text-primaryLight text-primaryDark uppercase;
} */

.title-h4 {
  @apply font-montserrat font-bold text-[15px] sm:text-[20px] md:text-[17px] xl:text-[28px]  dark:text-primaryLight text-primaryDark;
}

.text {
  @apply font-kodchasan font-normal text-[13px] lg:text-[17px] xl:text-[20px] dark:text-primaryLight text-primaryDark;
}

.link {
  @apply relative px-4 font-medium text-nowrap font-kodchasan !text-[15px] lg:!text-[20px] text-primaryLight hover:text-[#00FFF0] dark:text-primaryLight dark:hover:text-[#00FFF0];
}

.active {
  @apply text-[#00FFF0] dark:text-[#00FFF0];
}

.link::after,
.active::after {
  content: "";
  position: absolute;
  top: -43px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @apply bg-link-linear-gradient;
}

.active::after {
  transform: scaleX(1);
  opacity: 1;
}

.link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.link_mob {
  @apply relative px-4 font-medium text-nowrap font-kodchasan !text-[15px] text-primaryLight hover:text-[#00FFF0] dark:text-primaryLight dark:hover:text-[#00FFF0];
}

.link_mob::after,
.active_mob::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @apply bg-link-linear-gradient;
}

.active_mob {
  @apply text-[#00FFF0] dark:text-[#00FFF0];
}

.active_mob::after,
.link_mob:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

/* .link_mob:hover::after {
  transform: scaleX(1);
  opacity: 1;
} */

.section_wrapper {
  @apply flex;
}

.global_button {
  display: inline;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  border-radius: 100px;
  font-family: var(--font-montserrat);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  font-weight: 700;
  padding: 24px 34px;
}

.global_button::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, #03a4ff 22.51%, #009ee2 55.83%, #0085d0 100%);
  top: 0;
  right: -50px;
  height: 100%;
  width: 0;
  border-radius: 100px;
  z-index: -1;
  transition: width 1s;
}

.btn_dark {
  @apply text-primaryDark dark:text-primaryLight bg-primaryLight dark:bg-primaryDark;
}

.btn_light {
  @apply text-primaryLight dark:text-primaryDark   bg-primaryDark dark:bg-primaryLight;
}

.btn_dark:hover {
  @apply text-primaryLight dark:text-primaryDark;
}

.btn_light:hover {
  @apply text-primaryDark dark:text-primaryLight;
}

.global_button:hover::before {
  width: 150%;
  color: white;
}

.global_button:active::before {
  transition: 0s;
  background: linear-gradient(180deg, #03a4ff 22.51%, #009ee2 55.83%, #0085d0 100%);
  color: white;
}

.outline_button {
  padding-right: 98px !important;
  transition: all 0.5s ease-in-out;
  background-color: transparent !important;
  @apply bg-transparent border-2 border-primaryDark hover:border-accent3 dark:border-primaryLight  dark:hover:border-accent3;
}

.outline_button::before {
  background: white;
  right: 0;
  width: 77px;
  top: 0;
}
.outline_button:hover::before,
.outline_button:active::before {
  @apply hover:bg-linear-gradient-hover active:bg-linear-gradient-hover;
}

.outline_button::before {
  z-index: -1;
}

.btn_icon {
  position: absolute;
  content: "";
  top: calc(50% - 25px);
  right: 13px;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.outline_button:hover .dark_icon {
  filter: invert(1);
}

/* theme toggle button */
#checkbox {
  display: none;
}

/* .toggler {
  display: flex;
  align-items: center;
  width: 77px;
  height: 38px;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  padding: 2px 4px;
} */

.ball {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 34px;
  border-radius: 50%; */
  transition: transform 0.5s ease-in-out;
  /* transform: translateX(100%); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#checkbox:checked + .ball {
  transform: translateX(0%);
}

/* home page */

.home__hero--section .home__hero--section {
  background: url("../../public/bg_images/home_hero-bg-2.png") no-repeat left center;
  width: auto;
  height: 100%;
  background-size: auto 100%;
}

/* .hero__animation--block #orbit.item_one {
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero__animation--block #orbit.item_two {
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero__animation--block #orbit.item_three {
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero__animation--block #orbit.item_for {
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero__animation--block #orbit.item_five {
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hero__animation--block #orbit.item_six {
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} */

.home__hero--section .hero__animation--block .item_main {
  width: 316px;
  height: auto;
  z-index: 0;
  /* transform-style: preserve-3d; */
}

.home__hero--section .hero__animation--block .item_one {
  width: 100px;
  height: auto;
  top: 54px;
  left: 100px;
  z-index: 2;
  animation: orbit 10s linear infinite;
  /* transition-duration: 4s;
  animation-duration: 4s;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}

.home__hero--section .hero__animation--block .item_two {
  top: 130px;
  left: 15px;
  width: 115px;
  height: auto;
  z-index: 3;
  /* transition-duration: 4s;
  animation-duration: 4s;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

.home__hero--section .hero__animation--block .item_three {
  bottom: 160px;
  left: 16px;
  width: 140px;
  height: auto;
  z-index: 4;
  /* transition-duration: 4s;
  animation-duration: 7s;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

.home__hero--section .hero__animation--block .item_for {
  top: 255px;
  left: -125px;
  width: 130px;
  z-index: 5;
  /* transition-duration: 4s;
  animation-duration: 7s;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

.home__hero--section .hero__animation--block .item_five {
  left: -90px;
  bottom: 20px;
  width: 150px;
  height: auto;
  z-index: 6;
  /* transition-duration: 4s;
  animation-duration: 8s;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

.home__hero--section .hero__animation--block .item_six {
  bottom: 60px;
  right: 55px;
  width: 145px;
  height: auto;
  z-index: 7;
  /* transition-duration: 4s;
  animation-duration: 8s;
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

/* animation */

/* @keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
} */

/*  v */

/* we do section */
.we__do--section {
  background: url("../../public/bg_images/what_we_do-bg.png") no-repeat;
  /* background:url("../../public/bg_images/what_we_do-bg.png") ; */
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.we__do--section .bg_element::after {
  position: absolute;
  content: "";
  background-color: red;
  background: url("../../public/Fraud_monitoring2.png") no-repeat;
  left: -92px;
  top: calc(50% - 70px);
  width: 92px;
  height: 290px;
  z-index: 1;
}

/* .custom__swiper .swiper-slide-prev{
  height: 400px;
  z-index: 2;
  transform: translate3d(0px, -48px, -100px) scale(1) !important;
  transition-duration: 0ms;
}

.custom__swiper .swiper-slide-next {
  transform: translate3d(0px, 48px, -100px) scale(1) !important;
} */

.custom__swiper {
  padding-left: 55px !important;
}
.custom__swiper .swiper-pagination {
  position: absolute;
  top: calc(50% - 85px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom__swiper .swiper-pagination .swiper-pagination-bullet {
  background: white;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 100px;
}

.custom__swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 70px;
}

.reporting__section--wrapper,
.wedo__section--wrapper {
  position: relative;
}

.reporting__section--wrapper .line__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 750px;
}

.reporting--section {
  overflow: hidden;
}

.reporting--section .map {
  height: 100%;
  width: 100%;
}

.reporting--section .line {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: draw 5s infinite alternate;
}

.gear {
  position: absolute;
  top: -110px;
  right: -185px;
  overflow: hidden;
  animation: spin 8s linear infinite;
  z-index: 1;
}

.gear-2 {
  position: absolute;
  top: -60px;
  right: 140px;
  overflow: hidden;
  animation: spin2 10s linear infinite;
  z-index: 1;
}

.gear-3 {
  position: absolute;
  top: 240px;
  right: -30px;
  overflow: hidden;
  animation: spin 8s linear infinite;
  z-index: 1;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.magnify {
  position: absolute;
  top: 150px;
  right: 250px;
  width: 462px;
  height: 553px;
  z-index: 1;
  animation: zoomInOut 4s ease-in-out infinite;
}

@-webkit-keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@-moz-keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

.phone {
  position: absolute;
  bottom: 0px;
  right: 350px;
  z-index: 1;
  transform: rotate(3.859deg);
  animation: moveRightLeft 5s linear infinite;
}

@-webkit-keyframes moveRightLeft {
  0%,
  100% {
    right: 350;
  }
  50% {
    right: 400px;
  }
}

@-moz-keyframes moveRightLeft {
  0%,
  100% {
    right: 350;
  }
  50% {
    right: 400px;
  }
}

@keyframes moveRightLeft {
  0%,
  100% {
    right: 350;
  }
  50% {
    right: 400px;
  }
}

/* @keyframes draw {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 800;
  }
} */

/* .wedo__section--wrapper .line__wrapper2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.wedo__section--wrapper  .map2 {
  height: 100%;
  width: 100%;
}

.wedo__section--wrapper .line2 {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: draw2 5s infinite alternate;
}

@keyframes draw2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 800;
  }
} */

/* integration section */

.grey_circle {
  position: absolute;
  left: -431px;
  top: 0;
  width: 862px;
  height: 862px;
}

.first-item {
  border-right: solid 2px white;
}

.second-item {
  border-top: solid 2px white;
}

@media only screen and (max-width: 767px) {
  .title-h1 {
    @apply font-montserrat font-extrabold text-[34px] dark:text-primaryLight text-primaryDark leading-[79px] uppercase;
  }

  .title-h2 {
    @apply font-montserrat font-extrabold  text-[34px] dark:text-primaryLight text-primaryDark uppercase leading-normal;
  }
}

/* services page */

.services__hero--section {
  background: url("../../public/bg_images/services_hero-bg.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.services__hero--section .section_wrapper {
  background-color: rgba(0, 0, 0, 0.74);
  height: 100%;
}

.payment--section .section__bg--image {
  background: url("../../public/bg_images/payment_bg.png") no-repeat;
  /* width: 60%;
  height: auto; */
  background-size: contain;
}

.payment__animation--block .main__animation--container {
  border-radius: 20px;
  width: 100%;
  max-width: 409px;
}

.payment__animation--block .main__animation--container img {
  width: 100%;
  height: auto;
}

.payment__animation--block #lick {
  left: 0px;
  bottom: 205px;
  width: 145px;
  height: auto;
}
.payment__animation--block #gear {
  left: 10px;
  bottom: -60px;
  width: 130px;
  height: auto;
}
.payment__animation--block #coin {
  left: -90px;
  bottom: 80px;
  width: 120px;
  height: auto;
}
.payment__animation--block #lock {
  left: 130px;
  bottom: 60px;
  width: 110px;
  height: auto;
}

/* .services__reporting--section .reporting--container {
  border: solid 2px white;
} */

/* .payment__custom--swiper{
  width: 694px;
  height: 274px;
} */

/* .payment__custom--swiper .swiper {
  width: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.payment__custom--swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 494px;
  height: 374px;
} */

/* .swiper {
  width: 100%;
  height: 270px;
}


.swiper-slide {
  opacity: 0;
}

.swiper-slide-prev,
.swiper-slide-active,
.swiper-slide-next {
  opacity: 1;
}

.swiper-slide-prev h4,
.swiper-slide-next h4,
.swiper-slide-next p,
.swiper-slide-prev p {
  display: none !important;
} */

/* .swiper-wrapper {
  height: 100%;
  align-items: center;
} */

/* .swiper-slide-active {
  z-index: 1;
  width: 80%;
} */

/* .swiper-slide-prev {
  margin-right: -150px;
}

.swiper-slide-next {
  margin-left: -150px;
} */

/* .swiper-slide-next,
.swiper-slide-prev {
  z-index: 0;
  height: 95% !important;
} */

/* .swiper-slide-next .slider--content,
.swiper-slide-prev .slider--content {
  height: 95%;
}

.swiper-slide-active .slider--content {
  height: 100%;
} */

/* solutions page */

.solutions__hero--section {
  background: url("../../public/bg_images/solution_hero-bg.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.solutions__hero--section .section_wrapper {
  background-color: rgba(0, 0, 0, 0.74);
  height: 100%;
}

.campany__hero--section {
  background: url("../../public/bg_images/company_hero-bg.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.careers__hero--section {
  background: url("../../public/bg_images/home_hero-bg-2.png") no-repeat left top;
  /* width: auto;
  height: 100%; */
  background-size: auto auto;
}
