@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-track {
  background: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9befea 0%, #3d6ece 74.01%, rgba(53, 246, 234, 0.35) 100%);
}

/* gloabl,custom tailwind classes */

.nav-padding {
  @apply xl:px-[calc((100%-1360px)*0.5)];
}

.auto-padding {
  @apply xl:px-[calc((100%-1280px)*0.5)] px-3;
}

.title-h1 {
  @apply font-montserrat font-extrabold text-[64px] dark:text-primaryLight text-primaryDark leading-[79px];
}

.title-h2 {
  @apply font-montserrat font-extrabold  text-[64px] dark:text-primaryLight text-primaryDark;
}

.title-h3 {
  @apply font-kodchasan font-bold text-[48px] dark:text-primaryLight text-primaryDark;
}

.title-h4 {
  @apply font-kodchasan font-bold  text-[36px] dark:text-primaryLight text-primaryDark;
}

.title-h5 {
  @apply font-kodchasan font-bold text-[28px] dark:text-primaryLight text-primaryDark;
}

.text {
  @apply font-kodchasan font-normal text-[20px] dark:text-primaryLight text-primaryDark;
}

.link {
  @apply relative px-4 text font-medium text-nowrap font-kodchasan text-[20px] text-primaryLight hover:text-[#00FFF0] dark:text-primaryLight dark:hover:text-[#00FFF0];
}

.active {
  @apply text-[#00FFF0] dark:text-[#00FFF0];
}

.link::after,
.active::after {
  content: "";
  position: absolute;
  top: -45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @apply bg-link-linear-gradient;
}

.active::after {
  transform: scaleX(1);
  opacity: 1;
}

.link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.section_wrapper {
  @apply flex flex-row;
}

.global_button {
  border-radius: 100px;
  font-family: var(--font-montserrat);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.fill_button {
  padding: 24px 34px;
  position: relative;
}

.fill_button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(180deg, #03a4ff 22.51%, #009ee2 55.83%, #0085d0 100%);
  transition: all 0.5s ease-in-out;
}

.fill_button:hover::after {
  width: 100%;
}

.btn_dark {
  @apply bg-primaryLight dark:bg-primaryDark text-primaryDark dark:text-primaryLight;
}

.btn_light {
  @apply bg-primaryDark dark:bg-primaryLight text-primaryLight dark:text-primaryDark;
}

.outline_button {
  min-height: 75px;
  width: max-content;
  min-width: 440px;
  padding: 23px 100px 23px 26px;
  position: relative;
  @apply bg-transparent border-2 border-primaryDark hover:border-accent3 dark:bg-transparent  dark:border-primaryLight  dark:hover:border-accent3;
}

.outline_button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 86px;
  right: 0px;
  top: 0;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
  @apply bg-primaryDark dark:bg-primaryLight hover:bg-linear-gradient-hover active:bg-linear-gradient-hover;
}

.outline_button:hover::after {
  width: 100%;
}

.outline_button:hover .button_text {
  color: white;
}

.outline_button .button_text {
  position: absolute;
  left: 30px;
  top: 24px;
  text-wrap: nowrap;
  z-index: 10;
  transition: all 0.3s ease-in;
}

.btn_icon {
  position: absolute;
  content: "";
  top: calc(50% - 25px);
  right: 17px;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.outline_button:hover .dark_icon {
  filter: invert(1);
}

/* theme toggle button */
#checkbox {
  display: none;
}

.toggler {
  display: flex;
  align-items: center;
  width: 77px;
  height: 38px;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  padding: 2px 4px;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 34px;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#checkbox:checked + .ball {
  transform: translateX(0%);
}

/* home page */

.home__hero--section {
  background: url("../../public/bg_images/home_hero-bg-2.png") no-repeat left center;
  width: auto;
  height: 100%;
  background-size: auto 100%;
}
