@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 15px;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-track {
  background: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  /* border-radius: 10px; */
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9befea 0%, #3d6ece 74.01%, rgba(53, 246, 234, 0.35) 100%);
}

/* gloabl,custom tailwind classes */

.nav-padding {
  @apply xl:px-[calc((100%-1360px)*0.5)];
}

.auto-padding {
  @apply xl:px-[calc((100%-1280px)*0.5)] px-3;
}

.title-h1 {
  @apply font-montserrat font-extrabold text-[64px] dark:text-primaryLight text-primaryDark leading-[79px] uppercase;
}

.title-h2 {
  @apply font-montserrat font-extrabold  text-[64px] dark:text-primaryLight text-primaryDark uppercase leading-normal;
}

.title-h3 {
  @apply font-kodchasan font-bold text-[48px] dark:text-primaryLight text-primaryDark uppercase leading-normal;
}

.title-h4 {
  @apply font-kodchasan font-bold  text-[36px] dark:text-primaryLight text-primaryDark uppercase;
}

.title-h5 {
  @apply font-kodchasan font-bold text-[28px] dark:text-primaryLight text-primaryDark uppercase;
}

.text {
  @apply font-kodchasan font-normal text-[20px] dark:text-primaryLight text-primaryDark;
}

.link {
  @apply relative px-4 text font-medium text-nowrap font-kodchasan text-[20px] text-primaryLight hover:text-[#00FFF0] dark:text-primaryLight dark:hover:text-[#00FFF0];
}

.active {
  @apply text-[#00FFF0] dark:text-[#00FFF0];
}

.link::after,
.active::after {
  content: "";
  position: absolute;
  top: -45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @apply bg-link-linear-gradient;
}

.active::after {
  transform: scaleX(1);
  opacity: 1;
}

.link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.section_wrapper {
  @apply flex;
}

.global_button {
  border-radius: 100px;
  font-family: var(--font-montserrat);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.fill_button {
  padding: 24px 34px;
  position: relative;
}

.fill_button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(180deg, #03a4ff 22.51%, #009ee2 55.83%, #0085d0 100%);
  transition: all 0.5s ease-in-out;
}

/* .fill_button span {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-wrap: nowrap;
} */

.fill_button:hover::after {
  width: 100%;
}

.btn_dark {
  @apply bg-primaryLight dark:bg-primaryDark text-primaryDark dark:text-primaryLight;
}

.btn_light {
  @apply bg-primaryDark dark:bg-primaryLight text-primaryLight dark:text-primaryDark;
}

.outline_button {
  min-height: 75px;
  width: max-content;
  min-width: 440px;
  padding: 23px 100px 23px 26px;
  position: relative;
  @apply bg-transparent border-2 border-primaryDark hover:border-accent3 dark:bg-transparent  dark:border-primaryLight  dark:hover:border-accent3;
}

.outline_button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 86px;
  right: 0px;
  top: 0;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
  @apply bg-primaryDark dark:bg-primaryLight hover:bg-linear-gradient-hover active:bg-linear-gradient-hover;
}

.outline_button:hover::after {
  width: 100%;
}

.outline_button:hover .button_text {
  color: white;
}

.outline_button .button_text {
  position: absolute;
  left: 30px;
  top: 24px;
  text-wrap: nowrap;
  z-index: 10;
  transition: all 0.3s ease-in;
}

.btn_icon {
  position: absolute;
  content: "";
  top: calc(50% - 25px);
  right: 17px;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.outline_button:hover .dark_icon {
  filter: invert(1);
}

/* theme toggle button */
#checkbox {
  display: none;
}

.toggler {
  display: flex;
  align-items: center;
  width: 77px;
  height: 38px;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  padding: 2px 4px;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 34px;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#checkbox:checked + .ball {
  transform: translateX(0%);
}

/* home page */

.home__hero--section {
  background: url("../../public/bg_images/home_hero-bg-2.png") no-repeat left center;
  width: auto;
  height: 100%;
  background-size: auto 100%;
}

.we__do--section {
  background: lightgray url("../../public/bg_images/what_we_do-bg.png") no-repeat;
  /* background:url("../../public/bg_images/what_we_do-bg.png") ; */
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.we__do--section .bg_element::after {
  position: absolute;
  content: "";
  background-color: red;
  background: url("../../public/Fraud_monitoring2.png") no-repeat;
  left: -92px;
  top: calc(50% - 70px);
  width: 92px;
  height: 290px;
  z-index: 1;
}

/* .custom__swiper .swiper-slide-prev{
  height: 400px;
  z-index: 2;
  transform: translate3d(0px, -48px, -100px) scale(1) !important;
  transition-duration: 0ms;
}

.custom__swiper .swiper-slide-next {
  transform: translate3d(0px, 48px, -100px) scale(1) !important;
} */

.custom__swiper {
  padding-left: 55px !important;
}
.custom__swiper .swiper-pagination {
  position: absolute;
  top: calc(50% - 85px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom__swiper .swiper-pagination .swiper-pagination-bullet {
  background: white;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 100px;
}

.custom__swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 70px;
}

.reporting__section--wrapper,
.wedo__section--wrapper {
  position: relative;
}

.reporting__section--wrapper .line__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 750px;
}

.reporting--section {
  overflow: hidden;
}

.reporting--section .map {
  height: 100%;
  width: 100%;
}

.reporting--section .line {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: draw 5s infinite alternate;
}

.gear {
  position: absolute;
  top: -110px;
  right: -185px;
  overflow: hidden;
  animation: spin 8s linear infinite;
  z-index: 1;
}

.gear-2 {
  position: absolute;
  top: -60px;
  right: 140px;
  overflow: hidden;
  animation: spin2 10s linear infinite;
  z-index: 1;
}

.gear-3 {
  position: absolute;
  top: 240px;
  right: -30px;
  overflow: hidden;
  animation: spin 8s linear infinite;
  z-index: 1;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.magnify {
  position: absolute;
  top: 150px;
  right: 250px;
  width: 462px;
  height: 553px;
  z-index: 1;
  animation: zoomInOut 4s ease-in-out infinite;
}

@-webkit-keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@-moz-keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

.phone {
  position: absolute;
  bottom: 0px;
  right: 350px;
  z-index: 1;
  transform: rotate(3.859deg);
  animation: moveRightLeft 5s linear infinite;
}

@-webkit-keyframes moveRightLeft {
  0%,
  100% {
    right: 350;
  }
  50% {
    right: 400px;
  }
}

@-moz-keyframes moveRightLeft {
  0%,
  100% {
    right: 350;
  }
  50% {
    right: 400px;
  }
}

@keyframes moveRightLeft {
  0%,
  100% {
    right: 350;
  }
  50% {
    right: 400px;
  }
}

/* @keyframes draw {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 800;
  }
} */

/* .wedo__section--wrapper .line__wrapper2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.wedo__section--wrapper  .map2 {
  height: 100%;
  width: 100%;
}

.wedo__section--wrapper .line2 {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: draw2 5s infinite alternate;
}

@keyframes draw2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 800;
  }
} */

@media only screen and (max-width: 767px) {
  .title-h1 {
    @apply font-montserrat font-extrabold text-[34px] dark:text-primaryLight text-primaryDark leading-[79px] uppercase;
  }

  .title-h2 {
    @apply font-montserrat font-extrabold  text-[34px] dark:text-primaryLight text-primaryDark uppercase leading-normal;
  }
}
