@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9befea 0%, #3d6ece 74.01%, rgba(53, 246, 234, 0.35) 100%);
}

/* gloabl,custom tailwind classes */

.title-h1 {
  background: linear-gradient(to right, #ff00e5, #4200ff, #9befea);
  background-size: 200% 200%;
  animation: rainbow 3s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.2s ease-in-out;

  @apply font-kodchasan font-extrabold text-[32px] sm:text-[40px] md:text-[50px] xl:text-[64px]  leading-[1.2] uppercase dark:text-primaryLight text-primaryDark;
}

.title-h2 {
  background: linear-gradient(to right, #ff00e5, #4200ff, #00fff0);
  background-size: 200% 200%;
  animation: rainbow 3s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.2s ease-in-out;
  @apply font-kodchasan font-extrabold text-[32px] sm:text-[40px] md:text-[50px] xl:text-[64px] dark:text-primaryLight text-primaryDark uppercase leading-[1.2];
}

.title-h1:hover,
.title-h2:hover {
  color: #00000000;
}

.coming-soon {
  color: #00000000 !important;
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.title-h3 {
  @apply font-kodchasan font-bold text-[24px] md:text-[32px] xl:text-[48px] dark:text-primaryLight text-primaryDark uppercase leading-[1.2];
}

.title-h4 {
  @apply font-kodchasan uppercase font-bold text-[16px] sm:text-[17px] md:text-[20px] xl:text-[28px]  dark:text-primaryLight text-primaryDark;
}

.title-h5 {
  @apply font-montserrat font-bold  text-[16px] lg:text-[17px] xl:text-[20px] dark:text-primaryLight text-primaryDark;
}

.text {
  @apply font-montserrat font-normal text-[16px] lg:text-[17px] xl:text-[20px] dark:text-primaryLight text-primaryDark;
}

.badge {
  @apply font-kodchasan font-bold text-[16px] md:text-[22px] dark:text-primaryLight text-primaryDark uppercase;
}

.link {
  @apply relative px-4 font-medium text-nowrap font-kodchasan !text-[16px] lg:!text-[20px] text-primaryLight hover:text-[#00FFF0] dark:text-primaryLight dark:hover:text-[#00FFF0];
}

.active {
  @apply text-[#00FFF0] dark:text-[#00FFF0];
}

.link::after,
.active::after {
  content: "";
  position: absolute;
  top: -85%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 3px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @apply bg-link-linear-gradient;
}

.active::after {
  transform: scaleX(1);
  opacity: 1;
}

.link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.link_mob {
  @apply relative px-4 font-medium text-nowrap font-kodchasan !text-[18px] text-primaryLight hover:text-[#00FFF0] dark:text-primaryLight dark:hover:text-[#00FFF0];
}

.link_mob::after,
.active_mob::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @apply bg-link-linear-gradient;
}

.active_mob {
  @apply text-[#00FFF0] dark:text-[#00FFF0];
}

.active_mob::after,
.link_mob:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.search:focus-within input {
  width: 200px;
  background-color: #0f0f0f;
}
