/* payment section  */

/*.payment--section .section__bg--image {
   background: url("../../../public/bg_images/payment_bg.png") no-repeat;
  width: 60%;
    height: auto;
  background-size: contain; 
}*/

.payment__animation--block .main__animation--container {
  border-radius: 20px;
  width: 100%;
  max-width: 409px;
}
.payment__animation--block .main__animation--container img {
  width: 100%;
  height: auto;
}
.payment__animation--block #lick {
  left: 0px;
  bottom: 205px;
  width: 145px;
  height: auto;
}
.payment__animation--block #gear {
  left: 10px;
  bottom: -60px;
  width: 130px;
  height: auto;
}
.payment__animation--block #coin {
  left: -90px;
  bottom: 80px;
  width: 120px;
  height: auto;
}
.payment__animation--block #lock {
  left: 130px;
  bottom: 60px;
  width: 110px;
  height: auto;
}
